.App {
  text-align: center;
  background: #cec;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.signup-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 2%;
  gap: 1rem;
  background: #fff;
}

.signup-box .title {
  padding: 2%;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(188, 241, 188);
}

.signup-box .row {
}

.signup-box .row .form-group {
  text-align: left;
}

.signup-box .row .form-group label {
  display: block;
}

.signup-box .row .form-group input[type="text"],
.signup-box .row .form-group input[type="password"] {
  display: block;
  padding: 10px;
  width: 93%;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  font-size: 1rem;
}

.form-control input[type="checkbox"],
.form-control input[type="radio"] {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  font-size: 1rem;
}

.err {
  color: red;
  font-size: 0.8rem;
}

.signup-box .form-group input[type="button"] {
  font-size: 1.2rem;
  color: #666;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-transform: uppercase;
}

input:hover {
  box-shadow: 0 0 8px #ccc;
}

.userList {
  width: 50%;
  background: rgb(196, 247, 250);
  margin: auto;  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}
nav {
  background: rgb(122, 243, 252);
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 10px;
}
nav > ul {
  padding: 8px 20px
}

.userList ul {
  padding: 10px;
  margin: 0;
  list-style: none;
  text-align: left;
}

.userList ul > li {
  list-style: none;
  width: 50%;
  display:inline-block;
  height: 288px;
}
.userList ul.dropdown-menu > li {
  list-style: none;
  width: 100%;
  height: 2rem;
}

.userList ul > li .cards {
  display: block;
  border: 1px solid rgba(122, 243, 252, 0.7);
  padding: 10px;
  margin: 2px;
  background: rgb(252, 255, 255);
}
.userList ul li .cards span:nth-child(n) {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  text-transform: capitalize;
}
.userList ul li .cards span:nth-child(1) {
  width: 80%;
}

.userList ul li .cards span:nth-child(2) {
  text-transform: lowercase;
}


.desktop {
  display: flex;
  margin: 0 10px;
  gap: 10px;
  justify-items: flex-start;
  align-items: baseline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}